@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto-sans", sans-serif;
}

.history-container > div {
  margin-bottom: 1.125rem;
}

.history-container > div:last-child {
  margin-bottom: 0;
}
